/*
#qlsinhvien-form .form-item-khoa,
#qlsinhvien-form .form-item-hedt,
#qlsinhvien-form .form-item-khoahoc, 
#qlsinhvien-form .form-item-tinhtrang {
    float: left;
    padding-right: 10px;
}

#qlgiangvien-form #edit-timkiem {
    margin-top: 10px;
}
*/
