
.hinhsv img {
    float: right;
    margin: -60px 0 -60px !important;
}

.hinhsv_edit img {
    float: right;
    margin: 29px 100px -60px !important;
}

#edit-qlhocvien-col1 {
    width: 50%;
}

#edit-qlhocvien-col2 {
    width: 50%;
}

#edit-lichsu {
    margin-top: 10px;
}

#qlhocvien-form #edit-mahv {
    padding-right: 10px;
    width: 430px !important;
}