#qlctdt-form .form-item-hinhthucth, 
#qlctdt-form .form-item-giaidoan, 
#qlctdt-form .form-item-hocky {
    float: left;
    padding-right: 10px;
}

#qlctdt-form #edit-timkiem {
    margin-top: 10px;
}

/*#edit-qlctdt-update .form-item-hocky-update,*/
/*#edit-qlctdt-update .form-item-khoadt-update,*/
/*#edit-qlctdt-update .form-item-hedt-update,*/
/*#edit-qlctdt-update .form-item-nganh-update,*/
/*#edit-qlctdt-update .form-item-makhoa-update,*/
/*#edit-qlctdt-update .form-item-ghichu-update{*/
    /*float: left;*/
    /*padding-right: 10px;*/
/*}*/

/*#edit-qlctdt-update #edit-capnhat-update {*/
    /*float: left;*/
    /*margin-top: 10px;*/
/*}*/