/*
#qldiem-form-bangdiem .form-item-khoahoc, 
#qldiem-form-bangdiem .form-item-khoa,
#qldiem-form-bangdiem .form-item-hedt,
#qldiem-form-bangdiem .form-item-lopsh,
#qldiem-form-bangdiem .form-item-tinhtrang {
    float: left;
    padding-right: 10px;
}

#qldiem-form-bangdiemth .form-item-khoahoc, 
#qldiem-form-bangdiemth .form-item-khoa,
#qldiem-form-bangdiemth .form-item-hedt,
#qldiem-form-bangdiemth .form-item-lopsh,
#qldiem-form-bangdiemth .form-item-tinhtrang {
    float: left;
    padding-right: 10px;
}

#qldiem-form-bangdiemhb .form-item-khoahoc, 
#qldiem-form-bangdiemhb .form-item-khoa,
#qldiem-form-bangdiemhb .form-item-hedt {
    padding-right: 10px;
}

#edit-update-form-diemct .form-item-trangthai,
#edit-update-form-diemct .form-item-note {
    float: left;
    padding-right: 10px;
}
*/
#qldiem-form-bangdiem #edit-timkiem {
    margin-top: 10px;
}

#qldiem-form-bangdiemth #edit-timkiem {
    margin-top: 10px;
}

#bd_header {
    width: 710px;
    margin: -10px 0 auto;
    font-family: times new roman;
    font-size: 15px;
}

#bd_title_h2 {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    margin: 5px 0;
    clear: both;
}

#bd_header .header {
    clear: both;
}

#bd_header .logo {
    float: left;
    padding: 10px 10px 0 0;
}

#bd_header .logo-char {
    float: left;
    padding: 20px 0 0;
    text-align: center;
}

#bd_header .char-1 {
    font-family: arial;
    font-size: 12px;
    margin: 0 0 8px;
}

#bd_header hr {
    border: 1px solid #666;
    margin: 0 48px;
}

#bd_header .divright {
    float: right;

}

#bd_header .divright hr {
    margin: 0 35px;
}

#bd_footer {
    text-align: center;
    margin: 40px 0 10px 0;
}

#bd_footer hr {
    margin: 0 0 10px 0;
}
